aimed-app/aimed-portal/workflows/AIMED-transcribe-v3.json
{
  "name": "AIMED-transcribe",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "none"
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Whisper Transkripcija",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transkripcija": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "Claude - JSON Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - JSON Extraction": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "Respond with JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AIMED-transcribe",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-464, 336],
      "id": "e44f90a3-6837-443d-a983-b40d00e322e5",
      "name": "Webhook",
      "webhookId": "aimed-transcribe-v2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio0",
        "options": {
          "language": "hr"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [-192, 336],
      "id": "56123641-206e-45d4-9a05-15554761de20",
      "name": "Whisper Transkripcija"
    },
    {
      "parameters": {
        "jsCode": "// Build Claude API request body dynamically based on mode and preferred sections\n\nconst transcript = $json.text;\n\n// Read form fields from original Webhook body\nconst webhookData = $('Webhook').item.json.body || {};\nconst mode = webhookData.mode || 'new';\n\nlet preferredSections;\ntry {\n  preferredSections = typeof webhookData.preferred_sections === 'string'\n    ? JSON.parse(webhookData.preferred_sections)\n    : webhookData.preferred_sections;\n} catch {\n  preferredSections = null;\n}\n\nconst defaultSections = ['ANAMNEZA', 'STATUS', 'DIJAGNOZA', 'TERAPIJA', 'PREPORUKE'];\nconst sections = (preferredSections && Array.isArray(preferredSections) && preferredSections.length > 0)\n  ? preferredSections\n  : defaultSections;\n\nconst sectionList = sections.map(s => `- ${s}`).join('\\n');\n\nlet existingData = null;\nlet existingReport = null;\n\nif (mode === 'update') {\n  try {\n    existingData = typeof webhookData.existing_data === 'string'\n      ? JSON.parse(webhookData.existing_data)\n      : webhookData.existing_data;\n  } catch {}\n  existingReport = webhookData.existing_report || null;\n}\n\n// Build prompt based on mode\nlet prompt;\n\nif (mode === 'update' && (existingData || existingReport)) {\n  // UPDATE MODE: Modify existing report\n  const existingJson = existingData\n    ? JSON.stringify(existingData, null, 2)\n    : null;\n\n  prompt = `Ti si medicinski urednik za ljekarskih nalaza u Bosni i Hercegovini.\n\nTVOJ ZADATAK:\nDobit ćeš postojeći nalaz (kao JSON) i novi audio transkript. Tvoj zadatak je da uneseš izmjene SAMO tamo gdje transkript to nalaže. Sve sekcije koje nisu spomenute u transkriptu ostavi NETAKNUTE.\n\nVrati ISKLJUČIVO validan JSON objekat. NIKAKAV drugi tekst, objašnjenje, ili markdown.\n\nDOZVOLJENE SEKCIJE:\n${sectionList}\n\nPRAVILA:\n1. Ispravi gramatičke i pravopisne greške u novom sadržaju\n2. Standardiziraj medicinske termine prema bh./hrvatskom standardu\n3. TAČNOST BROJEVA: Doze, mjerenja prepiši identično. Nemoj zaokruživati.\n4. Ako transkript kaže \"promijeni\", \"dodaj\", \"obriši\" — primijeni to na odgovarajuću sekciju\n5. Sekcije koje NISU pomenute u transkriptu ostavi potpuno iste\n6. BEZ ADMINISTRACIJE: Datume i podatke o pacijentu ignoriši\n7. NEMA HALUCINACIJA: Ne dodavaj sekcije koje ne postoje u originalu niti su pomenute u transkriptu\n\nAko primjetiš nelogičnost, dodaj ključ \"_napomene\" sa opisom problema.\n\nPOSTOJEĆI NALAZ (JSON):\n${existingJson || existingReport}\n\n---\n\nNOVI TRANSKRIPT (izmjene):\n${transcript}`;\n\n} else {\n  // NEW MODE: Create new report from scratch\n  prompt = `Ti si medicinski asistent za transkripciju i uređivanje ljekarskih nalaza u Bosni i Hercegovini.\n\nTVOJ ZADATAK:\n1. Primi transkribirani tekst sa glasovnog snimka ljekara i vrati ISKLJUČIVO JSON objekat sa medicinskim sekcijama. Vrati SAMO validan JSON objekat. NIKAKAV drugi tekst, objašnjenje, ili markdown.\n2. Ispravi gramatičke i pravopisne greške\n3. Ispravi i standardiziraj medicinske termine, gramatiku i pravopis, te stil pisanja prema Bosni i Hercegovini (koristi latinsku terminologiju ukoliko je to i doktor, u suprotnom prilagodi za bosanski jezik)\n4. Organizuj sadržaj u doktorove preferirane sekcije medicinskog nalaza\n5. Provjeri logičnost i označi ako nešto djeluje kontradiktorno\n\nDOZVOLJENE SEKCIJE (koristi ISKLJUČIVO ove nazive):\n${sectionList}\n\nFORMATIRANJE:\n- VELIKA SLOVA za naslove sekcija (ključeve u JSON-u)\n- Brojeve numerički (500mg)\n- Datume kao DD.MM.GGGG.\n- Formalan medicinski stil\n\nAko primjetiš nelogičnost, dodaj ključ \"_napomene\" sa opisom problema.\n\nSTROGA PRAVILA ZA SEKCIJE:\n1. NEMA HALUCINACIJA: Ako određena sekcija nije pomenuta ili diktirana, NEMOJ je generisati. Jednostavno je preskoči.\n2. BEZ ADMINISTRACIJE: Datume i podatke o pacijentu (Ime, Prezime, JMBG) ignoriši jer se oni popunjavaju direktno u UI aplikacije.\n\nMEDICINSKA PRECIZNOST I STIL:\n- TAČNOST BROJEVA: Doze, mjerenja i laboratorijske vrijednosti prepiši identično. Nemoj ih zaokruživati.\n- TERMINOLOGIJA: Koristi standardnu bh./hrvatsku medicinsku terminologiju. Latinski koristi samo za formalne dijagnoze ili ako ljekar direktno izgovori latinski termin.\n- Vrati sve u JSON-u koristeći SAMO dozvoljene sekcije kao ključeve.\n\n---\n\nTRANSKRIPCIJA:\n\n${transcript}`;\n}\n\nconst requestBody = {\n  model: 'claude-3-haiku-20240307',\n  max_tokens: 4096,\n  messages: [\n    { role: 'user', content: prompt }\n  ]\n};\n\nreturn {\n  requestBody: JSON.stringify(requestBody),\n  preferredSections: sections,\n  mode: mode\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 336],
      "id": "build-claude-request-node",
      "name": "Build Claude Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [200, 336],
      "id": "78c5a8d2-6fbb-46c8-b4bf-e26b99c9cd07",
      "name": "Claude - JSON Extraction"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response into structured JSON\n\nconst claudeResponse = $json.content[0].text;\n\n// Get preferred sections from Build Claude Request node\nconst buildData = $('Build Claude Request').item.json;\nconst expectedSections = buildData.preferredSections || ['ANAMNEZA', 'STATUS', 'DIJAGNOZA', 'TERAPIJA', 'PREPORUKE'];\nconst mode = buildData.mode || 'new';\n\nlet sections = null;\nlet parseError = null;\n\ntry {\n  let cleanedResponse = claudeResponse\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n\n  sections = JSON.parse(cleanedResponse);\n\n  // For new mode, ensure all expected sections exist (null if not present)\n  if (mode === 'new') {\n    for (const section of expectedSections) {\n      if (!(section in sections)) {\n        sections[section] = null;\n      }\n    }\n  }\n\n} catch (error) {\n  parseError = error.message;\n\n  // Fallback: create empty sections\n  sections = {};\n  for (const section of expectedSections) {\n    sections[section] = null;\n  }\n\n  // Try to use raw text as ANAMNEZA fallback\n  if (claudeResponse && claudeResponse.length > 10) {\n    sections[expectedSections[0]] = claudeResponse;\n  }\n}\n\nconst timestamp = new Date().toISOString();\nconst datumNalaza = new Date().toLocaleDateString('bs-BA');\n\nreturn {\n  success: !parseError,\n  sections: sections,\n  metadata: {\n    generatedAt: timestamp,\n    datumNalaza: datumNalaza,\n    version: 'AIMED-transcribe-v3',\n    mode: mode,\n    parseError: parseError\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 336],
      "id": "9e1bdbbf-3df1-49b6-852b-be921e943382",
      "name": "Parse JSON Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [680, 336],
      "id": "0eeb0f23-2f7e-485f-a7df-f30cb50ce809",
      "name": "Respond with JSON"
    }
  ]
}
